.top{
    background-image: url(../../../public/images/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.top__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 500px;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

.top__title{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}

.top__text{
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}